.container {
    height: calc(100% - 60px);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3.5%;
    gap: 0;
}

.title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    flex: 1;
    max-height: 70px;

    h1 {
        color: rgb(54, 89, 114);
        padding: 0 2.5%;
    }
}

.display {
    height: 80%;
    width: 100%;
    flex: 8;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 3.5%;
}

.form {
    display: flex;
    border: 1px solid groove;
    border-radius: 8px;
    height: 80%;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(226, 233, 236);
    flex: 1;
    padding: 2.5%;
    gap: 5%;
    border-radius: 12px;
}

form {
    width: 100%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.form-content {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 100%;
    margin: 2.5%;
}

.background {
    flex: 1;
    height: 80%;
    padding: 2.5%;
    background-image: url("/assets/images/notion-background.png");
    border-radius: 12px;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.input {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12.5%;
    flex: 1;
}

.form-field {
    width: 75%;
}

input {
    border-radius: 5px;
    border: 0;
    min-height: 28px;
    height: 3.75vh;
    padding: 0 1.5%;
    font-size: medium;
}

label {
    font-size: large;
    font-weight: 500;
    color: rgb(50, 56, 59);
}

button {
    min-height: 30px;
    height: 4vh;
    width: 78%;
    margin: 2.5% 0;
    border-radius: 6px;
    border: 0;
    background-color: rgb(127, 157, 255);
}

h3 {
    color: white;
}